:root {
    --page-color: #f5f5f5;
    --punct-color: #bbb;

    --cell-border-size: 2px;
    --cell-size: calc(35px + var(--cell-border-size));
    --grid-input-font-size: 20px;

    --clue-box-size: 25px;
    --clue-input-font-size: 18px;
    --clue-text-font-size: 18px;
}

body {
    font-family: sans-serif;
    padding: 1rem;
    background: var(--page-color);
}

#puzzle-container {
    overflow: visible;
    overflow-x: auto;
    padding: 3px 0.5rem;
}

.letter-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
    caret-color: transparent;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    color: #111;
    cursor: default;
}
.letter-input.illegal {
    color: red;
}


/* --------------------------- The Grid  --------------------------- */

#quote-grid {
    display: inline-grid;
    grid-template-columns: repeat(var(--cols), var(--cell-size));
    grid-auto-rows: var(--cell-size);
    background: inherit; /* this only affects the incomplete last line of the grid */
    padding: 3px;
    overflow: visible;
}

.grid-cell {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* the border is inside the cell */
    border: var(--cell-border-size) solid gray;
    margin-right: calc(-1 * var(--cell-border-size));
    margin-bottom: calc(-1 * var(--cell-border-size));
    font-size: var(--grid-input-font-size);
    font-family: monospace;
}

.grid-cell.selected {
    outline: 3px solid blue;
    outline-offset: calc(-1 * var(--cell-border-size));/* Pulls it inward  slightly */
    z-index: 1;
}

.punct-cell {
    background: black;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 4px;
}

.punct-cell-text {
    color: var(--punct-color);
}

.cell-id-row {
    display: flex;
    justify-content: space-between;
    padding: 1px 2px 0;
    flex-shrink: 0;
    line-height: 1;
}

.cell-id-left { font-size: 11px; color: black; }

.cell-id-right { font-size: 11px; color: darkblue; }


.cell-input-container { flex: 1; display: flex; align-items: center; justify-content: center; }

.cell-input-container .letter-input {
    height: 100%;
}

.cell-input input:focus {
    background: #e8f0fc;
}

/* --------------------------- Source & Clues  --------------------------- */
/* --------------------------- Source  --------------------------- */

#source-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#clues-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.clues-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}
.clue-row {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}
.clue-label {
    font-weight: bold;
    font-size: 18px;
    min-width: 1.5rem;
    /* padding-top: 4px; */
    align-self: center;
    color: darkblue;
}
.clue-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.clue-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.clue-box {  /* should be letter-box */
    width: var(--clue-box-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clue-box-number {
    font-size: 9px;
    font-family: monospace;
    color: black;
}
.clue-box .letter-input {
    border-bottom: 1px solid #ccc;
    font-size: var(--clue-input-font-size);
    font-family: monospace;
    height: var(--clue-box-size);
}

.clue-box input.selected {
    outline: 3px solid blue;
    outline-offset: 0;
    z-index: 1;
}

.clue-text {
    margin-top: 2px;
    font-size: var(--clue-text-font-size);
    font-family: serif;
    color: black; 
}
a
